<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <section class="top-section">
            <div class="user-info-section">
                <div>
                <img class="user-profile-image" src="/public/image/oludare.png" alt="User profile image">
                </div>
                <div>
                <p>Oludare135</p>
                <p>Oludare@gmail.com</p>
                </div>
                <div>
                <i class="fa fa-gear"></i>
                </div>
            </div>

            <div class="search-container">
                  <i class="fa fa-search search-icon"></i>
                <input type="search" class="search-input" placeholder="Search User"/>     
                        
            </div>
            <div class="bell-icon">
                <i class="fa fa-bell bell"  aria-hidden="true"></i>
             <p class="notification">2</p>
            </div>
        </section>
        <h1>Leaderboard</h1>
        <table class="leaderboard-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= user.firstname %></td>
                        <td><%= user.lastname %></td>
                        <td><%= user.score %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <a href="../../views/userPage.html">user</a>
    <script src="../../views/leaderboard.js"></script>
  
</body>
</html>